
@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table>
    <tr>
        <th>Customers</th>
        <th>Discount Rate</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr >
            <td>@Html.ActionLink(customer.Name, "Details", new { id = customer.Id })</td>
            <td style="float:right">@customer.MembershipType.DiscountRate%</td>
        </tr>
    }
</table>


